body {
    padding:20px;
    font-family: sans-serif;
}

.tab {
    width: 60%;
    padding: 20px;
    border-collapse: collapse;
   }
   table th {
       background-color: gold;
       padding: 20px;
       border: 1px solid #aaa;
   }
   table td{
       border: 1px solid #aaa;
       padding: 20px;
   }