body {
  font-size: 1.5rem;
  font-family: sans-serif;
}

hr {
  border:0;
  border-bottom: 2px solid #ddd;
}

.title {
  color: crimson;
}
.menu{
  display: flex;
  list-style: none;
  justify-content: space-between;
}
.menu a{
  text-decoration: none;
}
.books{   
  list-style: decimal;
}